# Python artifacts
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
.pytest_cache/
.mypy_cache/
.venv/
venv/
.venv-wsl/

# Environment and secrets
.env
.env.*

# Git and IDE
.git/
.gitignore
.idea/
.vscode/

# Legacy and Large files
legacy/
data/raw/
data/interim/
data/processed/

# OS specific
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.log
*.tmp
*.temp
app.tar.gz
